body, html {
    height: 100%;
    font-family: Comic Sans MS;
  }
  
  .bg {
    background-image: url(../pics/360_F_142190831_XTYlTDXLCBowmpxfltnx9w1tmfj2nvNA.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  
  .container {
    color: white;
    font-size: 4vh;
    text-align: center;
    
  }


.count {
  font-size: 8vh;
}

.countdown {
    border: 3px solid skyblue;
    text-align: center;
    /* font-size: 5vh; */
    font-weight: bolder;
    border-radius: 5px;
    padding: 1vh;
}

.text {
    color: brown;
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
}
