* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Comic Sans MS;
    background-color: palevioletred;
  }

  .box {
      
    
  }

  .opt {
    font-size: 5vh;
  }